<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div>
    <h1><%= @service.name %></h1>
    <p><%= @service.description_menu %></p>
    <h2>Reviews</h2>
    
    <%#= render 'reviews/reviews', reviews: @reviews %>
  </div>
</div>
