html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.container div {
  width: 100%;
  max-width: 900px;
}

.container p {
  margin: 5px 0;
  font-size: 1.2em;
  text-align: left;
  word-wrap: break-word;
}

.image-top {
  max-width: 75%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
