    <header>
        <div class="brand">
            <h1>My Food Cuisine Airbnb</h1>
            <p>Welcome to a world of culinary delights!</p>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search for Cuisine...">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </header>

    <div class="container">
      <% @services.each do |service| %>
        <div class="square">
          <%= link_to service_path(service) do %>
              <div class="image" style="background-image: url(https://media.istockphoto.com/id/1389857295/pt/foto/african-american-woman-bakers-looking-at-camera-chef-baker-in-a-chef-dress-and-hat-cooking.jpg?s=612x612&w=0&k=20&c=cMGIngH5ou32_Lc3Q6yyokR_fhVXQEbdYDcFicoVHA4=);"></div>
              <div class="text"><%= service.name %></div>
              </a>
          <% end %>
        </div>
      <% end %>
    </div>
