    <header>
        <div class="brand">
            <h1>My Food Cuisine Airbnb</h1>
            <p>Welcome to a world of culinary delights!</p>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search for Cuisine...">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </header>

<div class="container-lg">
  <% @services.each_slice(3) do |services_row| %>
    <div class="row my-3">
      <% services_row.each do |service| %>
        <div class="col col-4">
          <div class="square">
            <%= link_to service_path(service) do %>
              <% service.images.each_with_index do |image, index| %>
                <div class="image" style="background-image: url(<%= url_for(image) %>);<%= index > 0 ? ' display: none;' : '' %>"></div>
              <% end %>
              <div class="text"><%= service.name %></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
