<h1>Review</h1>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', edit_booking_review_path(@booking, @review) %> |
<%= link_to 'Back', service_path(@booking.service) %>
